# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# Logs
*.log

# MacOS files
.DS_Store

# VS Code settings
.vscode/

# Python build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# Temporary files
*.tmp
*.swp

# PlantUML outputs (optional)
*.png
*.svg